checkpointz:
  mode: {{ checkpointz_mode }}

beacon:
  upstreams:
  {% for checkpointz_endpoint in checkpointz_endpoints %}
  - name: {{ checkpointz_endpoint.name }}
      address: {{ checkpointz_endpoint.address }}
      dataProvider: {{ checkpointz_endpoint.dataProvider }}
  {% endfor %}
