## General information
Bootnode ENRs: 
```yaml
{% for bootnode_enrs in bootnode_enrs %}
"{{ bootnode_enrs }}"
{% endfor %}
```
MultiAddrs: 
```yaml
{% for multiaddrs in multiaddrs %}
"{{ multiaddrs }}"
{% endfor %}
```
Execution Layer bootnode Enodes: 
```yaml
{% for el_bootnode_enode in el_bootnode_enode %}
"{{ el_bootnode_enode }}"
{% endfor %}
```

## Genesis configuration

https://github.com/ethpandaops/withdrawals-testnet/blob/master/withdrawal-devnet-7/custom_config_data/


## Timeline:
```
withdrawal-devnet-7 launch: 14th Feb, 2023 9:00UTC
Shapella fork: 16th Feb, 2023 9:00UTC
```

