baseURL: https://{{ cl_network_name }}.{{ domain }}
languageCode: en-us
title: {{ cl_network_name }}
theme: PaperMod

markup:
  highlight:
    # anchorLineNos: true
    codeFences: true
    guessSyntax: true
    lineNos: false
    # noClasses: false
    style: monokai

params:
  disableThemeToggle: true
  defaultTheme: dark
  ethereum:
    beaconexplorerUrl: https://zhejiang.beaconcha.in
    #ethstatsUrl: https://ethstats.{{ cl_network_name }}.{{ domain }}
    faucetUrl: https://faucet.{{ cl_network_name }}.{{ domain }}
    forkmonUrl: https://forkmon.{{ cl_network_name }}.{{ domain }}
    rpcUrl: https://rpc.{{ cl_network_name }}.{{ domain }}
    explorerUrl: https://blockscout.com/eth/zhejiang-testnet
    chainName: "{{cl_network_name}}"
    chainId: "{{chainID}}"
  metamask:
    enabled: true

  links:
  - name: "Beaconchain explorer"
    dataLookup: beaconexplorerUrl
  - name: "Transaction explorer"
    dataLookup: explorerUrl
#  - name: "Ethstats"
#    dataLookup: ethstatsUrl
  - name: "Faucet"
    dataLookup: faucetUrl
  - name: "Forkmon"
    dataLookup: forkmonUrl
  - name: "JSON RPC"
    dataLookup: rpcUrl

  additionalLinks:
   - name: "Launchpad"
     url: "https://{{ cl_network_name }}.launchpad.ethereum.org"
   - name: "Beacon API endpoint"
     url: "https://beacon.{{cl_network_name}}.{{domain}}"
   - name: "Alternative Faucet by pk910"
     url: "https://zhejiang-faucet.pk910.de/"
   - name: "Alternative Faucet by ethstaker (look for #request-zhejiang-eth channel)"
     url: "https://discord.io/ethstaker"

menu:
  main:
    - identifier: ethereum-website
      name: ethereum.org
      url: https://ethereum.org
      weight: 30

disableKinds: ["taxonomy", "taxonomyTerm"]

copyright: "Long live the verge."

