## Note
Please note that faucet/explorer/launchpad will be available post genesis, as this chain starts from a post merged state, so no transactions can be submitted before genesis. 

## General information
Bootnode ENRs: 
```yaml
{% for bootnode_enrs in bootnode_enrs %}
"{{ bootnode_enrs }}"
{% endfor %}
```
MultiAddrs: 
```yaml
{% for multiaddrs in multiaddrs %}
"{{ multiaddrs }}"
{% endfor %}
```
Execution Layer bootnode Enodes: 
```yaml
{% for el_bootnode_enode in el_bootnode_enode %}
"{{ el_bootnode_enode }}"
{% endfor %}
```

## Genesis configuration

https://github.com/ethpandaops/withdrawals-testnet/blob/master/zhejiang-testnet/custom_config_data/


## Timeline:
```
Zhejiang launch: 1st Feb, 2023 15:00UTC
```

## Specs and features for Zhejiang: 

https://notes.ethereum.org/@launchpad/zhejiang

