## Note
A Zhejiang testnet launched on the 1st of Feb at 15:00 UTC 2023 that implements all the final Shanghai EIPs.

The shanghai-capella (shapella) fork will take place exactly 6 days later, on the 7th of Feb at 15:00 UTC 2023. This is timestamp 1675782000 / epoch 1350. 

## General information
Bootnode ENRs: 
```yaml
{% for bootnode_enrs in bootnode_enrs %}
"{{ bootnode_enrs }}"
{% endfor %}
```
MultiAddrs: 
```yaml
{% for multiaddrs in multiaddrs %}
"{{ multiaddrs }}"
{% endfor %}
```
Execution Layer bootnode Enodes: 
```yaml
{% for el_bootnode_enode in el_bootnode_enode %}
"{{ el_bootnode_enode }}"
{% endfor %}
```

## Genesis configuration

https://github.com/ethpandaops/withdrawals-testnet/blob/master/zhejiang-testnet/custom_config_data/


## Timeline:
```
Zhejiang launch: 1st Feb, 2023 15:00UTC
Shapella fork: 7th Feb, 2023 15:00UTC
Zhejiang shutdown: TBD (estimated around Mainnet Shapella fork time)
```

## Specs and features for Zhejiang: 

https://notes.ethereum.org/@launchpad/zhejiang

