## General information
```sh
Bootnode ENRs: {{ bootnode_enrs }}
```
```sh
MultiAddrs: {{ multiaddrs }} 
```
```sh
Execution Layer bootnode Enodes: {{ el_bootnode_enode }}
```

## Genesis configuration
### Execution layer clients

https://github.com/ethpandaops/withdrawals-testnet/blob/master/withdrawal-devnet-6/custom_config_data/


## Timeline:
```
withdrawal-devnet-6: 27th Jan, 2023
Public testnet ideally: Late Jan,2023
```

## Specs and features for devnet4: 

https://notes.ethereum.org/@bbusa/withdrawal-devnet-3

