%{ for gid, group in groups ~}
[${replace(gid, "-", "_")}]
%{ for key, host in hosts ~}
%{ if host.group == gid ~}
${host.hostname} ansible_host=${host.ip} cloud=${host.cloud} cloud_region=${host.region}
%{ endif ~}
%{ endfor ~}

%{ endfor ~}

[lighthouse:children]
lighthouse_besu
lighthouse_geth
lighthouse_nethermind


[teku:children]
teku_besu
teku_geth
teku_erigon
teku_nethermind
bootnode

[prysm:children]
prysm_geth
prysm_nethermind

[nimbus:children]
nimbus_geth


[lodestar:children]
lodestar_geth


[besu:children]
lighthouse_besu
teku_besu


[geth:children]
lighthouse_geth
teku_geth
prysm_geth
nimbus_geth
lodestar_geth
bootnode

[erigon:children]
teku_erigon

[nethermind:children]
lighthouse_nethermind
teku_nethermind
prysm_nethermind


[consensus:children]
lighthouse
teku
prysm
nimbus
lodestar

[execution:children]
besu
geth
erigon
nethermind

[beacon:children]
consensus

[validator:children]
beacon
